body {
  font-family: 'Montserrat bold', sans-serif;
} 

header {
    line-height: 40px;
    z-index: 5;
    position: relative;
    background-color: rgba(44,62,80,255);
    color: white;
    padding-top: 25px;
    height: 100px;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0
}

.one-piece {
    width: 250px;
    height: auto;
}

.st-bt {
    border: none;
    color: white;
}

.container-hero {
    background-color: rgba(26,188,156,255);
    color: white;
    padding: 50px;
    text-transform: uppercase;
}

.area-logo {
    padding-top: 100px;
}


ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.portfolio,
.portfolio-due {
    color: rgb(0, 0, 0);
}


.portfolio {
    padding-top: 40px;
    margin-bottom: 65px;
}

.imagine {
    max-width: 100%;
    border-radius: 15px;
    margin: 10px 0;
}

.graphic:hover {
    font-weight: bold;
    color: black
}

.first:hover {
    color: hsl(0, 63%, 57%);
    /* font-size: 20px; */
}


/* overley */
.overley:hover {
    background-color: rgba(26,188,156,255);
    color: white;
    opacity: 1;
    border-radius: 15px;
}

.imagine-bkg {
    position: relative;
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    /* transition: opacity 1s; */
}

.imagine-bkg img {
    width: 100%;
    display: block;
}
/* overley */




.about-me {
    background-color:rgba(26,188,156,255);
    color: white;
    padding: 50px;
}

.contact-me {
    padding: 50px;
    color: rgb(0, 0, 0);
    padding: 50px;
}

.line {
    width: 100px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding-right: 5px;
    margin-right: 20px;
    margin-left: 20px;
} 

.line-due {
     background-color: rgb(0, 0, 0);
}


.row-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.row-due {
    padding-top: 10px;
}

.row-tre {
    padding-bottom: 20px;
}


.interno-text {
    padding: 50px;
}

.footer-up {
    background-color: rgba(58,84,109,255);
    color: white;
    padding: 50px;
}

.footer-down {
    background-color: rgba(44,62,80,255);
    color: white;
    padding: 20px;
}

.button-download {
    background-color: rgba(26,188,156,255);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 6px;
    width: 10%;
}

.send {
    border: none;
    color: white;
    background-color: rgba(26,188,156,255);
    border-radius: 5px;
    padding: 5px;
    width: 5%;
    margin-top: 10px;
}

.send-button {
    padding-top: 140px;
}

ul {
    list-style-type: none; 
    padding-left: 0;      
    margin-left: 0;        
}

.cerchio {
    border-radius: 50%;
    margin: 8px;
}

.icon {
    margin: 15px;
}

.start-bootstrap {
    color: rgba(26,188,156,255) ;
}

.form-control {
    border-radius: none;
    border: none;
    border-bottom: 1px solid lightgray;
}   

.form-floating {
    margin-top: 3px;
}
     
.size {
    font-size: 15px;
    padding: 3px;
}